:host {
  display: block;
}
.neo-slot-picker {
  position: relative;
}
.neo-popup {
  position: absolute;
  z-index: 999;
  background-color: white;
  padding: 2px;
  margin: 3px 0px;
  box-shadow: 0 0 10px lightgray;
  border: 1px solid whitesmoke;
}
.neo-input {
  min-width: 250px;
  cursor: pointer;
}
.neo-paginate, .neo-close{
  padding: 2px;
  cursor: pointer;
  color: gray;
  font-weight: normal;
}
table, th, td {
  border: 1px solid whitesmoke;
  border-collapse: collapse;
}
th, td {
  padding: 3px;
}
td {
  text-align: center;
}
.neo-grid {
  font-size: small;
  min-width: 250px;
}
.neo-day > span {
  padding: 2px;
}
.neo-day-disabled {
  color: lightgray;
  cursor: not-allowed;
}
.neo-day-enabled {
  color: black;
  cursor: pointer;
}
.neo-day-selected {
  color: white;
  cursor: pointer;
}
.neo-selected-cell {
  background-color: black;
}