:host {
  display: block;
}
.neo-slot-picker {
  position: relative;
}
.neo-popup {
  position: absolute;
  z-index: 999;
  background-color: white;
  padding: 2px;
  margin: 3px 0px;
  box-shadow: 0 0 10px lightgray;
  border: 1px solid whitesmoke;
}
.neo-input {
  min-width: 250px;
  cursor: pointer;
}
.neo-paginate, .neo-close, .neo-back{
  padding: 2px 10px;
  cursor: pointer;
  color: gray;
  font-weight: normal;
}
table, th, td {
  border: 1px solid whitesmoke;
  border-collapse: collapse;
}
th, td {
  padding: 3px;
}
td {
  text-align: center;
}
.neo-right-end {
  text-align: right;
}
.neo-left-end {
  text-align: left;
}
.neo-grid {
  font-size: small;
  min-width: 250px;
}
.neo-day, .neo-time {
  padding: 2px;
}
.neo-cell-enabled {
  color: black;
}
.neo-cell-enabled:hover {
  color: white;
  background-color: black;
}
.neo-cell-selected {
  color: white;
  background-color: black;
}
.neo-day-enabled, .neo-day-selected, .neo-time-enabled, .neo-time-selected {
  cursor: pointer;
}
.neo-day-disabled {
  color: lightgray;
  cursor: not-allowed;
}
.neo-center {
  border-right: 0px;
  border-left: 0px;
}
.neo-left-end {
  border-right: 0px;
}
.neo-right-end {
  border-left: 0px;
}
.TableHeader { width: 100px; }